<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>FileManager Client</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.2.0/angular-file-upload.min.js"></script>
<script src="static/app.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="MainController">
		<p>
			Select file <input type="file" nv-file-select="" uploader="uploader" />
		</p>

		<div ng-repeat="item in uploader.queue">
		<strong>{{ item.file.name }}</strong> 
		{{item.file.size/1024/1024|number:2 }} MB
		
		<button type="button" 
			ng-click="item.upload()"
			ng-disabled="item.isReady || item.isUploading || item.isSuccess">
			Upload
		</button>
		<button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading">
			Cancel
		</button>
		<button type="button" ng-click="item.remove()">
			Remove
		</button> 
		<a download="{{item.file.name}}" ng-href="{{item.link}}" ng-show="item.link">Download</a>
	</div>
</body>
</html>